<div class="row">
  <div class="col-12 col-sm-6 offset-sm-3">
  <div class="card">
    <div class="card-header bg-dark text-light">
      <h5 class="text-center">Create product</h5>
    </div>
    <div class="card-body">
      <form method="post" action="add-product">
        <div class="mb-3">
          <label for="product-name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="product-name" aria-describedby="textHelp" name="ProductName">
        </div>
        <div class="mb-3">
          <label for="product-name" class="form-label">Description</label>
          <textarea class="form-control" id="product-description" aria-describedby="textHelp" name="ProductDescription" rows="5"></textarea>
        </div>
          <div class="mb-3">
          <label for="product-image" class="form-label">Image</label>
          <input type="text" class="form-control" id="product-image" aria-describedby="textHelp" name="ProductImage">
        </div>
        <div class="mb-3">
          <label for="product-price" class="form-label">Price:</label>
          <input type="number" class="form-control" id="product-price" aria-describedby="numberHelp" name="ProductPriece" step="any">
        </div>
        <div>
          <button type="submit" class="btn btn-outline-success float-end" name="submit">Submit</button>
          <a class="btn btn-outline-warning float-end me-2" href="/">Back to home</a>
        </div>
      </form>
    </div>
  </div>
</div>
